
.container-fluid
{
    background:url("../image/spacebackground.jpg");
    background-size: 80% 100%;
}

article
{
   flex: auto ;

}
/* Paragraphes en bleu par défaut */
p
{
    color: blue;
}

/* Texte nav bar */

.navbar
{
    box-shadow: 4px 4px 4px 2px rgb(5, 5, 5) ;
}

.navbar-text
{
    font-style: italic;
}

#recherche
{
    background: ;
}



#section1
{
    width: 100%;
	height: 1200px;
	background:url("../image/background.jpg");
	background-attachment: fixed;
    background-size: 100% 100%;
    background-color: transparent;
}

.imgthauvin
{
width: 55px;
}


.imgfoot
{
width: 35px;

}
.club
{
width: 150px;
margin-left: 86px;

}

body
{
   
}

.infoplayers
{}

.stats
{
    box-shadow: 32px 42px 38px 4px black;
    border-radius: 10px;
    margin-left: 104px;
}